* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-claro: #C5D3F6;
  --azul-escuro: #6D7AE0;
  --branco: #fff;
  --preto: #000;
  --linha: rgba(0, 0, 0, .2);
  --hover: rgba(197, 211, 246, .5);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--azul-claro);
  color: var(--preto);
}

img {
  max-width: 200px;
}

header {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--linha);
  background: var(--azul-escuro);
  color: var(--branco);
}

.container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: var(--azul-claro);
}

form {
  display: flex;
  flex-direction: column;
  background: var(--azul-escuro);
  padding: 20px;
  border-radius: 8px;
}

label {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: var(--branco);
}

input {
  width: 20rem;
  margin-bottom: 0.7rem;
  padding: 5px 10px;
  border-radius: 0.2rem;
  border: none;
  outline: none;
  font-size: 1rem;
  background: var(--branco);
  color: var(--preto);
}

section button {
  align-self: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 5px 10px;
  width: 80%;
  outline: none;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: var(--branco);
}

table button {
  font-size: 1rem;
  width: 60%;
  background: var(--azul-claro);
}

table button:hover {
  background: var(--azul-escuro);
  color: var(--branco);
}

table {
  width: 50rem;
  background: var(--branco);
  border-radius: 8px;
  border-spacing: 0;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid var(--linha);
}

thead tr th:first-child {
  border-top-left-radius: 8px;
}

thead tr th:last-child {
  border-top-right-radius: 8px;
}

tbody tr:last-child {
  border: none;
}

tbody tr:hover {
  background-color: var(--hover) ;
}

thead {
  background: var(--azul-escuro);
  color: var(--branco);
}

th {
  line-height: 60px;
  font-size: 1.2rem;
}

td {
  padding: 10px 0;
  text-align: center;
  font-size: 1rem;
}
